/* here are stylings for the article.html file */
.articleContainer {
  width: 90%;
  margin: 0 auto;



  h1 {
    font-weight: lighter;
    text-align: center;
    margin: 20px 0px;
  }
}

.col-video {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3em;
  margin: 0 auto;
  padding: 10px;

  .articleContainer__video {
    margin: 0px 0px 10px 20px;
  }

  iframe {
    width: 30em;
    height: 19em;
    border: none;
    box-shadow: -20px 20px $brand-color-1;
  }
  
  p {
    margin: 10px;
  }
}

.articleDivision {
  width: 90%;
  margin: 50px auto 30px auto;
  border-bottom: 1.5px solid $brand-color-4;
}


/* media queries */

  /* media queries for mobile 0px-481px */
@media screen and (max-width: 480px) {
  .articleContainer {
    h1 {
      margin-bottom: 40px;
    }
  }
  .col-video {
    grid-template-columns: 1fr;
  
    .articleContainer__video {
      margin: 0px auto;
    }
  
    iframe {
      width: 19em;
      box-shadow: -10px 10px $brand-color-1;
      margin: 0 auto 20px auto;
    }
  }
}

 /* media queries for tablet 481px-1200px */
@media screen and (min-width: 481px) and (max-width: 1200px) {
  .articleContainer {
    h1 {
      margin-bottom: 40px;
    }
  }
  .col-video {
    grid-template-columns: 1fr;
  
    .articleContainer__video {
      margin: 0px auto;
    }
  
    iframe {
      width: 30em;
      margin: 0 auto 40px auto;
    }
  }
}
