/* here are stylings for the article.html file */
.articleContainer {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;

  h1 {
    font-weight: lighter;
    text-align: center;
    margin: 20px;
  }

  .col-video {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-self: center;
    margin: 10px 10px;

    .col-2-gap {
      column-gap: 3em;
    }
  
    iframe {
      width: 30em;
      height: 19em;
      border: none;
      box-shadow: -20px 20px $brand-color-1;
    }

    .articleContainer__text {
      margin-left: 40px;
    }

  }

  .articleDivision {
    margin-top: 50px;
    margin-bottom: 30px;
    border-bottom: 2px solid $brand-color-4;
  }
}

/* media queries */

  /* media queries for mobile 0px-480px*/
@media screen and (max-width: 480px) {
  .col-video {
    flex-wrap: wrap;

    iframe {
      max-width: 20em;
      margin: 30px 10px;
      box-shadow: -20px -20px $brand-color-1;
    }

    .articleContainer__text {
      max-width: 20em;
      margin-left: 0px;
    }
  }
}

  /* media queries for tablet 481px-1200px*/
@media screen and (min-width: 481px) and (max-width: 1200px) {
  .col-video {
    flex-wrap: wrap;

    iframe {
      margin: 30px 30px;
      box-shadow: -20px -20px $brand-color-1;
    }
  }
}