/* styles for the culture.htmlt file */

.culture--h1 {
  text-align: center;
  background-color: $brand-color-4;
  color: $brand-color-1;

  h1 {
    background-color: $brand-color-3;
    font-size: 2em;
    text-transform: uppercase;
    text-shadow: 5px -5px 10px $brand-color-1;
    padding: 15px 0px;
  }
}

.reversed {
  background-color: $brand-color-4;
}

.h4-10 {
  margin-left: 10px;
}