/* here are stylings for the header section */

/* styling logo section */

div.logo {
  background-color: $brand-color-1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

 
}