/* styles for the main section */

main {
  background-color: $brand-color-3;
  padding-bottom: 40px ;
}

/* styling headlines - h1 */
.col-1 {
  width: 90%;
  margin: 30px auto;
  background-color: $brand-color-4;

  h1 {
    padding: 10px 20px;
    font-weight: lighter;
    font-size: 1.5em;
  }
}

/* stylings for 3-column container */
.col-3 {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2em;
  row-gap: 1em;

  .main__article {
    background-color: $brand-color-2;
  }
  .main__article > h4 {
    color: $brand-color-3;
    padding: 20px;
    text-align: center;
    font-weight: lighter;
  }

  .main__article > img {
    max-height: 50vw;
    object-fit: cover;
  }
}

/* stylings for banner */
.col-1-banner {
  margin-top: 2em;
  width: 80%;
  margin: 0 auto;
  padding: 50px
}

/* stylings for 2-column container */
.col-2 {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 15em;
  row-gap: 2em;

  .col-2__article {
    background-color: $brand-color-2;
    margin-bottom: 30px;
  }

  .col-2__article > h4 {
    color: $brand-color-3;
    padding: 20px;
    text-align: center;
    font-weight: lighter;
  }
}


/* media queries for main section */

  /* media queries for mobile 0px-480px*/
  @media screen and (max-width: 480px) {

    /* styling headlines - h1 */
    .col-1 {
      width: 100%;

      h1 {
        text-align: center;
      }
    }

    /* styling the 3-col section */
    .col-3 {
      grid-template-columns: 1fr;
    }
      
    .col-2 {
      margin-top: 20px;
      grid-template-columns: 1fr;
    
      .col-2__article {
        background-color: $brand-color-2;
      }
    }

    /* styling the banner section */
    .col-1-banner {
      display: none;
    }
  }
  
    /* media queries for tablet 481px-1200px*/
  @media screen and (min-width: 481px) and (max-width: 1200px) {}