/* styles for the main section */

/* styling the headlines the article sections */
.articleHeadline {
  width: 90%;
  background-color: $brand-color-4;
  margin: 20px auto;

  h1 {
    padding-left: 20px;
    font-weight: lighter;
    font-size: 1.5em;
  }
}

/* styling the articles sections */
div[class=container] {
  width: 90%;
  margin: 0px auto 50px auto;
  display: flex;
  flex-direction: row;

  .container__article {
    max-width: 33,3%;
    padding-right: 20px;
  }

  .container__article:last-child {
    padding-right: 0px;
  }

  .container--itemHeadline {
    color: $brand-color-3;
    background-color: $brand-color-2;
    text-align: center;
    font-size: 1.2em;
    font-weight: lighter;
    height: 2.7em;
    padding: 20px;
  }
}

/* media queries for main section */

  /* media queries for mobile 0px-480px*/
  @media screen and (max-width: 480px) {

    /* styling the headlines the article sections */
    .articleHeadline {
      width: 100%;
      h1 {
        text-align: center;
      }
    }

    /* styling the articles sections */
    div[class=container] {
      flex-wrap: wrap;

      .container__article {
        padding: 20px;
      }

      .container__article:last-child {
        padding-right: 20px;
      }

      .container--itemHeadline {
        font-size: 1em;
        height: 3.5em;
      }
    }
  }
  
    /* media queries for tablet 481px-1200px*/
  @media screen and (min-width: 481px) and (max-width: 1200px) {
   
    /* styling the articles sections */
    div[class=container] {
      width: 90%;
      margin: 0px auto 50px auto;
      display: flex;
      flex-direction: row;
    
      .container__article {
        max-width: 50%;
        padding-right: 20px;
      }

      .container__article:nth-child(even) {
        padding-right: 0px;
      }
    
      .container__article:last-child {
        padding-right: 0px;
        display: none;
      }
    
      .container--itemHeadline {
        color: $brand-color-3;
        background-color: $brand-color-2;
        text-align: center;
        font-size: 1.2em;
        font-weight: lighter;
        height: 2.7em;
        padding: 20px;
      }
    }

  }