/* styles for the technology article */
.tech-h1 {
  color: $brand-color-3;
  font-size: 1.5em;

  h1 {
    background-color: $brand-color-1;
  }

  h1:hover {
    background-color: $brand-color-2;
  }
}


/* media queries for screens bigger than 1201px*/
 @media screen and (min-width: 1201px) {
  main {
    .hidden {
      display: none;
    }

  }
}