/* the stylings for the articleContainer were imported from _article.scss stylesheet;

below you can find stylings only for this video page */

.videoContainer {
  margin: 60px auto;
  box-shadow: -10px 0px 10px $brand-color-4, 10px 0px 10px $brand-color-4;

  h1 {
    padding: 15px;
    text-align: center;
    color: $brand-color-1;
  }

  .col-video {
    grid-template-columns: 1fr;
    justify-items: center;
    background-color: $brand-color-1;


    iframe {
      width: 80%;
      height: 90vh;
      border: none;
      box-shadow: none;
      margin: 20px 0px;
    }
  }
}